:root {
    --clr-neutral-100: hsl(0, 0%, 98%);
    --clr-neutral-200: hsl(0, 0%, 41%);
    --clr-neutral-200-h: hsl(0, 0%, 56%);
    --clr-neutral-300: hsl(0, 0%, 8%);
    --clr-neutral-300-a: hsla(0, 0%, 0%, 0.8);

    --ff-primary: Epilogue, sans-serif;
    --fw-medium: 500;
    --fw-bold: 700;
}

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: var(--clr-neutral-100);
    color: var(--clr-neutral-300);
    font: 1.125rem var(--ff-primary);
    font-weight: var(--fw-medium);
    min-height: 100vh;
    position: relative;
}

header {
    padding: 1rem 1rem 0.5rem 1rem;
}

footer {
    margin-top: auto;
    background-color: var(--clr-neutral-300);
    color: var(--clr-neutral-100);
}

p {
    line-height: 1.5;
}


/* Repeating Classes */
.flex {
    display: flex;
}

.col-wrap {
    flex-flow: column wrap;
}

.col-nowrap {
    flex-flow: column nowrap;
}

.row-wrap {
    flex-flow: row wrap;
}

.x-center {
    align-items: center;
}

.y-center {
    justify-content: center;
}

.txt-center {
    text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}


/* Unique Classes */
.h-con {
    width: 100%;
}

.h-con > div {
    width: auto;
    height: 2rem;
}

.h-con > :last-child {
    margin-left: auto;
}

.menu-button button{
    background-color: transparent;
    border: none;
}

.hero-image * {
    display: block;
    width: 100vw;
}

div.hero-image {
    margin: 1rem 0;
}

.details {
    row-gap: 1rem;
    margin: 2rem 1rem;
}

.details > :nth-child(3) {
    margin: 2rem auto;
}

.details p {
    color: var(--clr-neutral-200);
}

.details strong {
    font-weight: var(--fw-medium);
}

.cta-learn a:is(:link, :visited){
    display: block;
    background-color: var(--clr-neutral-300);
    color: var(--clr-neutral-100);
    text-decoration: none;
    padding: 1rem;
    border: 0.1rem solid var(--clr-neutral-300);
    border-radius: 1rem;
}
.cta-learn a:is(:hover, :active, :focus){
    background-color: transparent;
    color: var(--clr-neutral-300);
}

.partners {
    column-gap: 0.2rem;
}

.partners > div {
    padding: 0.5rem;
}

.partners img {
    height: 1rem;
    width: auto;
}

.attribution {
    padding: 0.2rem;
}

.attribution p {
    font-size: 0.688rem;
}

.attribution a:is(:link, :visited) {
    color: var(--clr-neutral-200);
}

.attribution a:is(:hover, :active, :focus) {
    color: var(--clr-neutral-200-h);
}


/* Side Bar Navigation */
#side-menu-container {
    display: none;
    background-color: var(--clr-neutral-300-a);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
}

div.menu-button-close {
    margin: 0 1rem;
}

.menu-button-close button{
    background-color: transparent;
    border: none;
    float: right;
}

nav {
    background-color: var(--clr-neutral-100);
    width: 65%;
    height: inherit;
    padding: 1rem 0;
    float: right;
}

.side-menu ul {
    list-style-type: none;
}

.side-menu ul > li {
    color: var(--clr-neutral-200);
    padding: 1rem;
}