:root {
    --clr-neutral-100: hsl(0, 0%, 98%);
    --clr-neutral-200: hsl(0, 0%, 41%);
    --clr-neutral-300: hsl(0, 0%, 8%);

    --ff-primary: Epilogue, sans-serif;
    --fw-medium: 500;
    --fw-bold: 700;
}

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: var(--clr-neutral-100);
    color: var(--clr-neutral-300);
    font: 1.125rem var(--ff-primary);
    font-weight: var(--fw-medium);
    min-height: 100vh;
}

header {
    padding: 1rem 1rem 0.5rem 1rem;
}

p {
    line-height: 1.5;
}

/* Repeating Classes */
.flex {
    display: flex;
}

.col-wrap {
    flex-flow: column wrap;
}

.row-wrap {
    flex-flow: row wrap;
}

.x-center {
    align-items: center;
}

.txt-center {
    text-align: center;
}


/* Unique Classes */
.hero-image *{
    display: block;
    width: 100vw;
}

div.hero-image {
    margin: 1rem 0;
}

.details {
    row-gap: 1rem;
    margin: 1rem;
    padding: 1rem 0;
}

.details > :nth-child(3) {
    margin: 2rem auto;
}

.details p {
    color: var(--clr-neutral-200);
}

.cta-learn *{
    display: block;
    background-color: var(--clr-neutral-300);
    color: var(--clr-neutral-100);
    padding: 1rem;
    border-radius: 1rem;
}

.cta-learn a {
    text-decoration: none;
}

.partners {
    column-gap: 0.2rem;
}

.partners > div {
    padding: 0.5rem;
}

.partners img {
    height: 1rem;
    width: auto;
}